body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 35px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.header_name {
    margin-right: auto;
}

.header_links {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.sign_up {
    background-color: #1f2937;
    display: flex;
    gap: 20px;
    padding: 60px;
}

.hero_header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero_text {
    color: #e5e7eb;
    font-size: 18px;
}

.chuck1 {
    width: 350px;
    margin-left: auto;
}

.random_info {
    color: #1f2937;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.random_pics {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.pic_and_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random_single_pic {
    border: 3px solid #3882f6;
    border-radius: 16px;
    width: 150px;
    aspect-ratio: 4/3;
}

.quote_block {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 75px;
}

.quote {
    font-style: italic;
    font-size: 36px;
}

.quote_attribution {
    font-size: 20px;
    align-self: flex-end;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}